{{!-- --}}
{{> dashboardHeader}}

<div class="container-fluid">
    <div class="row">
        {{#if subscribers}}
        <div class="col-6 mx-auto">
            <h2 class="text-center">Subscribers</h2>
        </div>
        <div class="col-12 mx-auto">
            <table class="table table-hover">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each subscribers}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{email}}</td>
                        <td>{{date}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    {{#each paginationLinks}}
                    {{{this}}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        {{else}}
        <div class="col-12">
            <p class="text-center">No subscribers yet.</p>
        </div>
        {{/if}}
    </div>
</div>

{{> dashboardFooter}}